# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea

.vscode

build/