name = "test"
runMode = "release" #debug, release, test

[mysql]
    hostname = "127.0.0.1"
    port = "3306"
    user = "root"
    password = "123456"
    dbName = "app_test"
    tablePrefix = "table_"
    maxOpenConnections = 0
    maxIdleConnections = 0
    connMaxLifetime = 0
    debug = false

[redis]
    host = "127.0.0.1"
    port = "6379"
    password = ""
    idleTimeout = 20
    maxIdle = 2
    maxActive = 5

[server]
listenAddr = ":8082"
httpsAddr = ":8053"
readTimeout = 0
writeTimeout = 0
idleTimeout = 0
maxHeaderBytes = 1048576 # 1<<20 1MB
limitConnections = 0

[websocket]
    port = "8081"

[jsonrpc]
    port = "8082"

[common]
tempFolder = "/tmp" #must be exist and can access it


[log]
level = "debug" 
formatter = "json" #json or text, default text
depth = 8 #logger depth can modify
withCallerHook = true #print line, file and module name in log
logFilePrefix = ""
logFileName = "all.logs"
logDir = "gin-quick-logs"
write = true
maxAge = 168 #rotalogs max age, unit hours, default 24*7
rotationTime = 24 #rotalogs rotation time, unit hours, default 24


[tls]
    disable = true #default enable https
    addr = "8043"
    certFile = ""
    keyFile = ""
